@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');



*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    background-color: #f2e8da;

}

.fontfamily {
    font-family: 'Young Serif', serif;
}

.img {
    border-radius: 1rem;
    width: 44rem;
    height: 18rem;
}

.main-container {
    margin:  9rem 21.3rem 9rem 21.3rem;
    padding: 4rem ;
    border-radius: 2rem;
    background-color: white;
}

.main-container h1 {
    margin: 1rem 0rem;
    font-size: 2.5rem;
    
}

.main-container p {
    margin: 1rem 0rem;

}

.lightpink-container {
    margin: 2rem 0rem;
    padding: 2rem;
    border-radius: 0.7rem;
    background-color: rgb(255 241 253);
}

.lightpink-container div {
    color:  purple;
    font-size: x-large;
    font-weight: bolder;
}

.lightpink-container ul li {
    margin: 0.9rem;
    font-size: 1rem;
}

.white-container {
    margin-bottom: 2rem;
    
}
.white-container div {
    color: rgba(111, 13, 13, 0.847);
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
    
}

.white-container ul li {
    margin: 0.9rem;
    font-size: 1.1rem;
}

.white-container-sec {
    margin-bottom: 2rem;
   
}

.white-container-sec div {
    color: rgba(111, 13, 13, 0.847);
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 400;
    
}

.white-container-sec ol li {
    margin: 0.9rem;
    font-size: 1.1rem;
}

.white-container-third .first-child {
    color: rgba(111, 13, 13, 0.847);
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 400;
    
}

.white-container-third div {
   font-size: 1.2rem;
    
}

.brown {
    color: rgba(111, 13, 13, 0.847);
    margin-right: 16rem;
    font-size: 1.2rem;
    font-weight: 700;
    
}

.brown2 {
    color: rgba(111, 13, 13, 0.847);
    margin-right: 16rem;
    font-size: 1.2rem;
    font-weight: 700;
    
}

.brown3 {
    color: rgba(111, 13, 13, 0.847);
    margin-right: 16rem;
    font-size: 1.2rem;
    font-weight: 700;
    
}

.brown4 {
    color: rgba(111, 13, 13, 0.847);
    margin-right: 16rem;
    font-size: 1.2rem;
    font-weight: 700;
    
}

.flexbox {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    
}



@media screen and (max-width: 375px) {
    
    body {
        font-size: 15px;
        margin: 0;
        padding: 0 ;
    }

    .main-container {
       
        margin: 0;
        padding: 1.2rem;
        margin-top: 9rem;
        border-radius: 0rem;
        
    }
 


    .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: auto;
        border-radius: 0rem ;
        
    }

    
    .img-container {

        padding: 0rem;

    }

    .flexbox {
        margin: 1rem;
        display: flex;
        justify-content: space-between;
     
       
        
    }

    .brown {
        position: relative;
        left: 8rem;

        color: rgba(111, 13, 13, 0.847);
        font-size: 1.2rem;
        font-weight: 700;
        
    }
    .brown2 {
        position: relative;
        left: 9.2rem;
        color: rgba(111, 13, 13, 0.847);
        font-size: 1.2rem;
        font-weight: 700;
        
    }
    .brown3 {
        position: relative;
        left: 8.6rem;
        color: rgba(111, 13, 13, 0.847);
        font-size: 1.2rem;
        font-weight: 700;
        
    }
    .brown4 {
        position: relative;
        left: 10.6rem;
        color: rgba(111, 13, 13, 0.847);
        font-size: 1.2rem;
        font-weight: 700;
        
    }
   
    
}